importFrom(httr,POST)
importFrom(proto,proto)
importFrom(httr,content_type_json)
importFrom(httr,content)
importFrom(jsonlite,toJSON)
export(rdocs_url)
export(.view_help)
export(help)
export(help.search)
export(`?`)
#exportPattern("^[[:alpha:]]+"); 
