body {
	background-color:#33aacc;
	text-align:center;
}

.btn {
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: $button-radius;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    padding: 0.5rem 1.875rem;
    transition: background-color $default-duration ease, color $default-duration ease;
    text-align: center;

    &:hover, &:focus, &:active:focus {
        outline: none;
        border: none;
    }

    .fa {
        margin-right: 0.5rem;
    }
}